{% for post in posts %}
    <section class="card">
        <section class="post_head">
            <h1 id="post_user_name">{{post.get('user').get('username')}}</h1>
            <i class="fas fa-ellipsis-h fa-2x"></i>
        </section>
        <section class="post_img">
            <img src="{{post.get('image_url')}}" alt="{{post.get('user').get('username')}}'s post image" />
        </section>
        <section class="post_comment">
            <section class="post_icons">
                <section class= "three_icons">
                    <i class="far fa-heart fa-2x"></i>
                    <i class="far fa-comment fa-2x"></i>
                    <i class="far fa-paper-plane fa-2x"></i>
                </section>
                <i class="far fa-bookmark fa-2x"></i>
            </section>
            <!-- <section class="like_count"> -->
            <p>{{post.get('likes')}} likes</p>
            <!-- </section> -->
            <section class="caption">
                <p id="cmt_user_name">
                    <b>{{post.get('user').get('username')}}</b>
                    {{post.get('title')}}
                    <a href="#" class="blue">more</a>
                </p>    
            </section>
            <section class="user_comment">
                {% if post.get('comments')|length > 1 %}
                    <a href='#' class="blue">View all {{post.get('comments')|length}} comments</a>
                    <section class="caption">
                        <p id="cmt_user_name">
                            <b>{{post.get('comments')[0].get('user').get('username')}}</b>
                            {{post.get('comments')[0].get('text')}}
                        </p>
                    </section>
                {% elif post.get('comments')|length == 1 %}
                    <section class="caption">
                        <p id="cmt_user_name">
                            <b>{{post.get('comments')[0].get('user').get('username')}}</b>
                            {{post.get('comments')[0].get('text')}}
                        </p>
                    </section>
                {% endif %}       
                <section class="post_date">
                    <p>{{post.get('display_time')}}</p>
                </section>
            </section>
        </section>
        <section class="post_write_comment">
            <i class="far fa-smile fa-2x"></i>
            <input title="User Comment"type="text" size="85" value="Add a comment...">
            <a href="#" class="blue">Post</a>
        </section>
    </section>
{% endfor %}